<!--<div *ngIf="auth.authenticated() && auth.userProfile">
    <div fxLayout="column" fxLayoutGap="50px" fxLayoutGap.xs="10px">
        <div></div>
        <div fxLayout="row" fxLayoutGap="50px" fxLayoutGap.xs="20px">
            <div></div>
            <div fxFlex.xs="90px" fxFlex.sm="110px" fxFlex.md="130px" fxFlex="150px">
                <div fxFlexFill fxLayout="column">
                    <img class="img-circle" [src]="auth.userProfile.picture" alt="" width="100%" fxFlex.xs="90px" fxFlex.sm="110px" fxFlex.md="130px" fxFlex="150px">
                </div>
            </div>

            <div fxLayout="column" fxLayoutGap="10px">
                <div class="user-name">
                    {{auth.userProfile.nickname}} <button md-button type="submit" [routerLink]="['/users/edit']"><md-icon>brightness_low</md-icon></button>
                </div>
                <div><strong>{{auth.userProfile.given_name}} {{auth.userProfile.family_name}}</strong> ({{auth.userProfile.gender}})</div>
                <div><span fxHide.xs>{{auth.userProfile.email}}</span></div>
                <div *ngIf="auth.userProfile.user_metadata.address" fxHide.xs>{{auth.userProfile.user_metadata.address}}</div>

            </div>
        </div>
        <div></div>
    </div>
</div>-->