<div fxLayout="column" fxLayoutGap="50px" fxLayoutGap.xs="10px">
    <div></div>
    <div fxLayout="row" fxLayoutGap="50px" fxLayoutGap.xs="20px">
        <div></div>
        <div fxFlex.xs="90px" fxFlex.sm="110px" fxFlex.md="130px" fxFlex="150px">
            <div *ngIf="user?.image" fxFlexFill fxLayout="column">
                <img class="img-circle" [src]="user?.image | imagePath" alt="" width="100%" fxFlex.xs="90px" fxFlex.sm="110px" fxFlex.md="130px" fxFlex="150px">
            </div>
        </div>

        <div fxLayout="column" fxLayoutGap="15px">
            <div class="user-name">
                {{user?.userName}} <button *ngIf="isMe" md-button type="submit" [routerLink]="['/users', 'edit']"><md-icon>brightness_low</md-icon></button>
            </div>
            <div><strong>{{user?.name}}</strong></div>
            <div><span fxHide.xs>{{user?.email}}</span></div>

            <div fxHide.xs></div>

            <div fxLayout="row" fxLayoutGap="10px">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap.gt-xs="10px">
                    <strong>{{user?.totalUserPosts}}</strong>
                    <span fxHide.xs>posts</span>
                    <small fxShow.xs fxHide>posts</small>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap.gt-xs="10px" (click)="onClickFollowers()">
                    <strong>{{user?.totalUserFollowers}}</strong>
                    <span fxHide.xs>followers</span>
                    <small fxShow.xs fxHide>followers</small>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap.gt-xs="10px" (click)="onClickFollowing()">
                    <strong>{{user?.totalUserFollowing}}</strong>
                    <span fxHide.xs>following</span>
                    <small fxShow.xs fxHide>following</small>
                </div>
            </div>

        </div>
    </div>
    <div></div>
</div>