<hb-user-info [isMe]="isMe" [user]="user$ | async"></hb-user-info>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <hb-post-search [search]="(postSearchInfo$ | async)?.search" (searchChange)="searchChange($event)"></hb-post-search>
    <md-slide-toggle class="example-margin" color="primary" (change)="onFavoriteChange($event)" [checked]="(postSearchInfo$ | async)?.postSearchType == 3 ? true : false">
        Favorite
    </md-slide-toggle>
</div>

<md-tab-group [selectedIndex]="sharedUsersTabIndex$ | async" (selectedIndexChange)="onSelectedIndexChange($event)">
    <md-tab>
        <ng-template md-tab-label>
            <md-icon>view_module</md-icon>
        </ng-template>
        <hb-post-list [posts]="posts$ | async" [postSearchType]="postSearchType$ | async" (goDetail)="goDetail($event)"></hb-post-list>
    </md-tab>

    <md-tab>
        <ng-template md-tab-label>
            <md-icon>view_stream</md-icon>
        </ng-template>
        <hb-post-list-all [posts]="posts$ | async" [postSearchType]="postSearchType$ | async" (addPostComment)="addPostComment($event)" (addPostEvalution)="addPostEvalution($event)" (delPostEvalution)="delPostEvalution($event)" (addPostFavorite)="addPostFavorite($event)"
            (delPostFavorite)="delPostFavorite($event)" (delPostComment)="delPostComment($event)" (showMoreComments)="showMoreComments($event)" (editPost)="editPost($event)" (delPost)="delPost($event)"></hb-post-list-all>
    </md-tab>

    <!-- <md-tab>
        <ng-template md-tab-label>
            <md-icon>done_all</md-icon>
        </ng-template>
    </md-tab> -->
</md-tab-group>

<hb-progress-spinner [isProgressSpinner]="isProgressSpinner$ | async"></hb-progress-spinner>