<div fxLayout="row" fxLayoutAlign="center center">
    <hb-post-search [search]="search$ | async" (searchChange)="searchChange($event)"></hb-post-search>
</div>
<md-tab-group selectedIndex="1">
    <md-tab>
        <ng-template md-tab-label>
            <md-icon>view_module</md-icon>
        </ng-template>
        <hb-post-list [posts]="posts$ | async" (openDetail)="openDetail($event)"></hb-post-list>
    </md-tab>

    <md-tab>
        <ng-template md-tab-label>
            <md-icon>view_stream</md-icon>
        </ng-template>
        <hb-post-list-all [posts]="posts$ | async" (addPostComment)="addPostComment($event)" (addPostEvalution)="addPostEvalution($event)" (delPostEvalution)="delPostEvalution($event)" (delPostComment)="delPostComment($event)" (showMoreComments)="showMoreComments($event)"></hb-post-list-all>
    </md-tab>
</md-tab-group>
<hb-progress-spinner [isProgressSpinner]="isProgressSpinner$ | async"></hb-progress-spinner>