<router-outlet></router-outlet>

<!--<div fxLayout="row" fxLayoutAlign="center center">
    <hb-explorer-search></hb-explorer-search>
</div>

<div fxLayout="column" fxLayoutAlign="center center">
    <div *ngFor="let post of posts | async as list">
        <md-card class="example-card">
            <md-card-header>
                <div md-card-avatar class="example-header-image"></div>
                <md-card-title>{{post.customer.name}}</md-card-title>
                <md-card-subtitle>{{post.date | date}}</md-card-subtitle>
            </md-card-header>

            <div *ngFor="let upload of post.postUploads; let uploadIndex = index;">
                <div *ngIf="post.currentUploadIndex === uploadIndex" fxFlex.xs="100px" fxFlex.sm="150px" fxFlex.md="200px" fxFlex="250px" fxLayout="column">
                    <img [src]="upload.path" width="100%" fxFlex.xs="100px" fxFlex.sm="150px" fxFlex.md="200px" fxFlex="250px">
                    <p fxFill>{{upload.memo}}</p>
                </div>
            </div>

            <div fxLayout="row">
                <button md-button class="primary" *ngIf="post.postUploads.length > 1" (click)="previous(post)"><</button>
                <button md-button class="primary" *ngIf="post.postUploads.length > 1" (click)="next(post)">></button>
            </div>

            <md-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
            </md-card-content>
            <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
            </md-card-actions>
        </md-card>
    </div>
</div>-->