<md-toolbar color="primary" class="unicorn-dark-theme">

    <button md-button routerLink="/explorers" mdTooltip="Explorers">Hairbook</button>

    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button md-button routerLink="/posts" mdTooltip="New"><md-icon>note</md-icon></button>
        <button md-button [routerLink]="'/users/' + userName" mdTooltip="Users"><md-icon>person</md-icon></button>
        <button md-button routerLink="/login" mdTooltip="Logout"><md-icon>clear</md-icon></button>
    </div>
    <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
      <md-icon>menu</md-icon>
    </button>

</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item routerLink="/posts"><md-icon>note</md-icon>New</button>
    <button md-menu-item [routerLink]="'/users/' + userName"><md-icon>person</md-icon>Users</button>
    <button md-menu-item routerLink="/login"><md-icon>clear</md-icon>Logout</button>
</md-menu>