<div fxLayout="row" fxLayoutAlign="center center">

    <form [formGroup]="postForm" novalidate>
        <div fxLayout="column" fxLayoutGap="10px">
            <div>
                <md-radio-group>
                    <md-radio-button *ngFor="let accessType of accessTypes; let i = index;" [value]="i" (change)="onChangeAccessType($event)">{{accessType}}</md-radio-button>
                </md-radio-group>
            </div>

            <div>

                <md-input-container>
                    <input mdInput placeholder="Customer" [mdAutocomplete]="auto" formControlName="customer" (ngModelChange)="onChangedCustomer($event)">
                </md-input-container>

                <md-autocomplete #auto="mdAutocomplete" [displayWith]="onDisplayCustomer">
                    <md-option *ngFor="let customer of filteredCustomers$ | async" [value]="customer" (onSelectionChange)="onSelectCustomer($event)">
                        {{ customer.name }} ({{ customer.customerId }})
                    </md-option>
                </md-autocomplete>

                {{selectedCustomerId}}
                <!--{{postForm.controls['customer'].controls.customerId.value}}-->
                <!--<small [hidden]="postForm.controls['customer'].controls.name.valid || (postForm.controls['customer'].controls.name.pristine && !isSubmitted)">
                name required
            </small>-->
            </div>
            <div>
                <md-input-container>
                    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" formControlName="date">
                    <button mdSuffix [mdDatepickerToggle]="picker"></button>
                </md-input-container>
                <md-datepicker #picker></md-datepicker>
            </div>

            <div>
                <md-input-container>
                    <textarea mdInput placeholder="Memo" formControlName="memo"></textarea>
                </md-input-container>
            </div>

            <div>
                <label>Hair Menues</label>
                <div fxLayout="row" fxLayoutWrap>
                    <md-button-toggle #hairMenusButtonToggle *ngFor="let hairMenu of hairMenus; let i=index" [value]="hairMenu.hairMenuId" [checked]="hairMenu.isChecked" (change)="onChangeHairMenus($event)">{{hairMenu.name}}</md-button-toggle>
                </div>
                <!-- {{hairMenus | json}} -->
            </div>

            <div></div>
            <div>
                gallery
            </div>
            <div></div>

            <div>
                <label>Hair Types</label>
                <div fxLayout="row" fxLayoutWrap>
                    <md-button-toggle #hairTypesButtonToggle *ngFor="let hairType of hairTypes; let i=index" [value]="hairType.hairTypeId" [checked]="hairType.isChecked" (change)="onChangeHairTypes($event)">{{hairType.name}}</md-button-toggle>
                </div>
            </div>

            <div>
                <md-input-container>
                    <textarea mdInput placeholder="HairType Memo" formControlName="hairTypeMemo"></textarea>
                </md-input-container>
            </div>

            <div *ngIf="existsHairMenusColor">
                <label>information for color</label>
                <md-select placeholder="Color" formControlName="hairSubMenuColor" name="food">
                    <md-option *ngFor="let color of hairSubMenuColors" [value]="color.hairSubMenuId">
                        {{color.name}}
                    </md-option>
                </md-select>
            </div>

            <div *ngIf="existsHairMenusColor">
                <md-input-container>
                    <textarea mdInput placeholder="Hair Color Memo" formControlName="hairSubMenuColorMemo"></textarea>
                </md-input-container>
            </div>

            <div *ngIf="existsHairMenusPerm">
                <label>information for perm</label>
                <md-select placeholder="Perm" formControlName="hairSubMenuPerm" name="food">
                    <md-option *ngFor="let perm of hairSubMenuPerms" [value]="perm.hairSubMenuId">
                        {{perm.name}}
                    </md-option>
                </md-select>
            </div>

            <div *ngIf="existsHairMenusPerm">
                <md-input-container>
                    <textarea mdInput placeholder="Hair Perm Memo" formControlName="hairSubMenuPermMemo"></textarea>
                </md-input-container>
            </div>

            <div>
                <input #fileInput type="file" multiple (change)="fileChangeEvent($event)" />
            </div>

            <div fxLayout="row" fxLayoutGap="20px">
                <div class="form-group">
                    <button md-raised-button color="primary" type="submit" [disabled]="!postForm.valid" (click)="onSubmit()">Save</button>
                </div>
                <div class="form-group">
                    <button md-raised-button color="accent" type="button" (click)="onBack()">Back</button>
                </div>
            </div>

        </div>
    </form>

    <div *ngFor="let postUploadInfo of postUploadInfos">
        <img [src]="postUploadInfo.postUpload" width="100" height="100">
        <md-select placeholder="Upload Categories" [(ngModel)]="postUploadInfo.uploadCategoryType">
            <md-option *ngFor="let uploadCategoryType of uploadCategoryTypes let i = index;" [value]="i">
                {{ uploadCategoryType }}
            </md-option>
        </md-select>
        <md-input-container>
            <textarea mdInput placeholder="Upload Memo" [(ngModel)]="postUploadInfo.postMemo"></textarea>
        </md-input-container>
    </div>

    <!--<p>{{postForm.status}}</p>-->
    <!-- <p>{{postForm.value | json}}</p> -->

</div>