<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div></div>
    <div>
        <input #fileInput type="file" multiple (change)="fileChangeEvent($event)" class="custom-file-input" />
    </div>

    <div fxLayout="row">
        <div class="upload-scroll" fxLayout="row" fxFlex.xs="350px" fxFlex.sm="400px" fxFlex.md="450px" fxFlex="500px">
            <div *ngFor="let postUploadInfo of postUploadInfos; let i = index;">
                <div *ngIf="postUploadInfo.postUploadInfoType !== postUploadInfoType.Delete" fxLayout="column" fxLayoutAlign="center cetner" fxLayoutGap="10px">

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button md-button class="private" *ngIf="postUploadInfo.postUploadInfoType === postUploadInfoType.Add" (click)="onRotatePostUploadInfo(i)"><md-icon>rotate_right</md-icon></button>
                        <button md-button class="warn" (click)="onDelPostUploadInfo(i)"><md-icon>close</md-icon></button>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img [src]="postUploadInfo.postUploadBlob" width="100" height="100" [class.rotation90]="postUploadInfo.uploadFileRotation === 90" [class.rotation180]="postUploadInfo.uploadFileRotation === 180" [class.rotation270]="postUploadInfo.uploadFileRotation === 270">
                    </div>
                    <div></div>
                    <div>
                        <md-select placeholder="Upload Categories" [(ngModel)]="postUploadInfo.uploadCategoryType">
                            <md-option *ngFor="let uploadCategoryType of uploadCategoryTypes let i = index;" [value]="i">
                                {{ uploadCategoryType }}
                            </md-option>
                        </md-select>
                    </div>
                    <div>
                        <md-input-container>
                            <textarea mdInput placeholder="Upload Memo" [(ngModel)]="postUploadInfo.memo"></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form [formGroup]="postForm" novalidate>
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
            <div>
                <md-radio-group [value]="postForm.get('accessType').value">
                    <md-radio-button *ngFor="let accessType of accessTypes; let i = index;" [value]="i" (change)="onChangeAccessType($event)">{{accessType}}&nbsp;&nbsp;</md-radio-button>
                </md-radio-group>
            </div>

            <div fxFlexFill>
                <md-input-container fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset="20" fxFlex="60">
                    <input mdInput placeholder="Title" formControlName="title">
                </md-input-container>
            </div>

            <div fxFlexFill>
                <md-input-container fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset="20" fxFlex="60">
                    <input mdInput placeholder="Customer" [mdAutocomplete]="auto" formControlName="customer" (ngModelChange)="onChangedCustomer($event)">
                </md-input-container>

                <md-autocomplete #auto="mdAutocomplete" [displayWith]="onDisplayCustomer">
                    <md-option *ngFor="let customer of filteredCustomers$ | async" [value]="customer" (onSelectionChange)="onSelectCustomer($event)">
                        {{ customer.name }} ({{ customer.customerId }})
                    </md-option>
                </md-autocomplete>

                {{selectedCustomerId}}
                <!--{{postForm.controls['customer'].controls.customerId.value}}-->
                <!--<small [hidden]="postForm.controls['customer'].controls.name.valid || (postForm.controls['customer'].controls.name.pristine && !isSubmitted)">
                name required
            </small>-->
            </div>

            <div fxFlexFill>
                <md-input-container fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset="20" fxFlex="60">
                    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" formControlName="date">
                    <button mdSuffix [mdDatepickerToggle]="picker"></button>
                </md-input-container>
                <md-datepicker #picker></md-datepicker>
            </div>

            <div fxFlexFill fxLayout="column" fxLayoutAlign="start start">
                <label fxFlexOffset.xs="5" fxFlexOffset="20">Hair Types</label>
                <div fxFlexOffset.xs="5" fxFlexOffset="20" fxLayoutWrap>
                    <md-button-toggle #hairTypesButtonToggle *ngFor="let hairType of hairTypes; let i=index" [value]="hairType.hairTypeId" [checked]="hairType.isChecked" (change)="onChangeHairTypes($event)">{{hairType.name}}</md-button-toggle>
                </div>
            </div>

            <div fxFlexFill fxLayout="column">
                <md-input-container fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset="20" fxFlex="60">
                    <textarea mdInput placeholder="HairType Memo" formControlName="hairTypeMemo"></textarea>
                </md-input-container>
                <md-slide-toggle fxFlexOffset.xs="5" fxFlexOffset="20" formControlName="isHairTypeMemo" color="accent">
                    HairType Memo on public
                </md-slide-toggle>
            </div>

            <div fxFlexFill fxLayout="column" fxLayoutAlign="start start">
                <div fxLayout="column" fxLayoutGap="50px">
                    <div></div>
                    <div></div>
                </div>
                <label fxFlexOffset.xs="5" fxFlexOffset="20">Hair Menues</label>
                <div fxFlexOffset.xs="5" fxFlexOffset="20" fxLayoutWrap>
                    <md-button-toggle #hairMenusButtonToggle *ngFor="let hairMenu of hairMenus; let i=index" [value]="hairMenu.hairMenuId" [checked]="hairMenu.isChecked" (change)="onChangeHairMenus($event)">{{hairMenu.name}}</md-button-toggle>
                </div>
            </div>

            <div *ngIf="existsHairMenusColor" fxFlexFill fxLayout="column" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutGap="50px">
                    <div></div>
                    <div></div>
                </div>
                <div fxFlexFill>
                    <md-select placeholder="Color Type" formControlName="hairSubMenuColor" name="food" fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset="20" fxFlex="60">
                        <md-option *ngFor="let color of hairSubMenuColors" [value]="color.hairSubMenuId">
                            {{color.name}}
                        </md-option>
                    </md-select>
                </div>

                <div fxFlexFill fxLayout="column">
                    <md-input-container fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset="20" fxFlex="60">
                        <textarea mdInput placeholder="Color Formula" formControlName="hairSubMenuColorMemo"></textarea>
                    </md-input-container>
                    <md-slide-toggle fxFlexOffset.xs="5" fxFlexOffset="20" formControlName="isHairSubMenuColorMemo" color="primary">
                        Color Formula on public
                    </md-slide-toggle>
                </div>
            </div>

            <div *ngIf="existsHairMenusPerm" fxFlexFill fxLayout="column" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutGap="50px">
                    <div></div>
                    <div></div>
                </div>
                <div fxFlexFill>
                    <md-select placeholder="Perm Type" formControlName="hairSubMenuPerm" name="food" fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset="20" fxFlex="60">
                        <md-option *ngFor="let perm of hairSubMenuPerms" [value]="perm.hairSubMenuId">
                            {{perm.name}}
                        </md-option>
                    </md-select>
                </div>

                <div fxFlexFill fxLayout="column">
                    <md-input-container fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset="20" fxFlex="60">
                        <textarea mdInput placeholder="Perm Memo" formControlName="hairSubMenuPermMemo"></textarea>
                    </md-input-container>
                    <md-slide-toggle fxFlexOffset.xs="5" fxFlexOffset="20" formControlName="isHairSubMenuPermMemo" color="accent"> Perm Memo on public
                    </md-slide-toggle>
                </div>
            </div>

            <div fxFlexFill fxLayout="column">
                <div fxLayout="column" fxLayoutGap="50px">
                    <div></div>
                    <div></div>
                </div>
                <md-input-container fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset="20" fxFlex="60">
                    <textarea mdInput placeholder="Comment" formControlName="memo"></textarea>
                </md-input-container>
                <md-slide-toggle fxFlexOffset.xs="5" fxFlexOffset="20" formControlName="isMemo" color="warn">
                    Comment on public
                </md-slide-toggle>
            </div>

            <div fxLayout="row" fxLayoutGap="50px">
                <div class="form-group">
                    <button md-raised-button color="primary" type="submit" [disabled]="!postForm.valid || (isProgressSpinner$ | async)" (click)="onSubmit()">Save</button>
                </div>
                <div class="form-group">
                    <button md-raised-button color="accent" type="button" (click)="onBack()" [disabled]="isProgressSpinner$ | async">Back</button>
                </div>
            </div>

        </div>
    </form>

    <hb-progress-spinner [isProgressSpinner]="isProgressSpinner$ | async"></hb-progress-spinner>

    <!--<p>{{postForm.status}}</p>-->
    <!-- <p>{{postForm.value | json}}</p> -->

</div>