<div class="main" fxLayout="column">
    <div>
        <hb-progress-bar [isProgressBar]="isProgressBar$ | async" class="progress-fixed" fxFlexOffset.gt-md="20" fxFlex.gt-md="60"></hb-progress-bar>
    </div>
    <div>
        <hb-nav class="menu-fixed" fxFlexOffset.gt-md="20" fxFlex.gt-md="60" *ngIf="auth.authenticated()"></hb-nav>
    </div>
    <div>
        <div fxFlexOffset.gt-md="20" fxFlex.gt-md="60">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div>
        <hb-footer fxFlexOffset.gt-md="20" fxFlex.gt-md="60" *ngIf="auth.authenticated()"></hb-footer>
    </div>
</div>