.menu-fixed {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.progress-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.main {
    margin-top: 64px;
}

.no-margin-left {
    margin-left: -8px;
}

.no-margin-right {
    margin-right: -8px;
}