<div fxFlexOffset="25" fxFlex="50" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">

    <div fxLayout="column">
        <h3>Social Login</h3>
        <div fxLayout="row" fxLayoutGap="30px">
            <button md-raised-button color="warn" (click)="signIn('google')">google</button>
            <button md-raised-button color="primary" (click)="signIn('facebook')">facebook</button>
        </div>
    </div>

    <div fxLayout="column" fxLayoutGap="10px">
        <h3>Login</h3>
        <form [formGroup]="loginForm" novalidate>
            <div class="form-group">
                <md-form-field>
                    <input mdInput placeholder="Username" formControlName="userName">
                </md-form-field>
            </div>
            <div class="form-group">
                <md-form-field>
                    <input mdInput type="password" placeholder="Password" formControlName="password">
                </md-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="30px">
                <div class="form-group">
                    <button md-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" (click)="login()">Login</button>
                </div>
                <div class="form-group">
                    <button md-raised-button color="accent" type="button" (click)="signUp()">Sign Up</button>
                </div>
            </div>

        </form>

        <!--<p>Form value: {{ loginForm.value | json }}</p>
        <p>Form status: {{ loginForm.status | json }}</p>-->
        <!--{{user$ | async | json}}-->
    </div>

</div>