.example-header-image {
    background-size: cover;
}

.mat-card {
    padding: 24px 0px;
}

.post-padding {
    padding-left: 16px;
    padding-right: 16px;
}

// .mat-tab-body-content,
// .mat-tab-body-content,
// .ng-trigger,
// .ng-trigger-translateTab {
//     transform: none !important;
// }