<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap.xs="5px" fxLayoutGap="20px">
    <md-card *ngFor="let post of posts; let postIndex = index;" fxFlexFill fxLayout="row" fxLayoutWrap.xs fxLayoutAlign="start start">
        <div fxFlex="60" fxFlex.xs="100" fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <md-card-header>
                    <div *ngIf="post.createdUser.image" md-card-avatar class="example-header-image">
                        <img md-card-avatar [src]="post.createdUser.image | imagePath" (click)="onClickUser(post.createdUser.userName)">
                    </div>
                    <md-card-title>{{post.createdUser.userName}}</md-card-title>
                    <md-card-subtitle>{{post.createdDate | timeAgo}}</md-card-subtitle>
                </md-card-header>

                <div fxLayout="row">
                    <button md-button class="primary" *ngIf="post.postUploads.length > 1" (click)="onPrevious(post.postId)"><</button>
                    <button md-button class="primary" *ngIf="post.postUploads.length > 1" (click)="onNext(post.postId)">></button>
                </div>
            </div>

            <div>
                <div *ngFor="let upload of post.postUploads; let uploadIndex = index;">
                    <div *ngIf="post.currentUploadIndex === uploadIndex" fxFlex.xs="100%" fxFlex="90%" fxLayout="column">
                        <img md-card-image (swipeleft)="onSwipe(post.postId, $event.type)" (swiperight)="onSwipe(post.postId, $event.type)" [src]="upload.path | imagePath" width="100%">
                        <h3>{{uploadCategories[upload.uploadCategoryType + 3]}}</h3>
                        <md-input-container>
                            <textarea mdInput placeholder="Upload Memo" [(ngModel)]="upload.memo" readonly></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>

        <div fxFlex="30" fxFlex.xs="100">
            <md-card-content>

                <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="postSearchType === 2">
                    <md-icon class="accessType">{{post.accessType === 0 ? 'lock_open' : 'lock_outline'}}</md-icon>
                    <hb-post-menu (editPost)="editPost.emit(post.postId)" (deletePost)="delPost.emit(post.postId)"></hb-post-menu>
                </div>

                <div fxLayout="row" *ngIf="postSearchType === 2">
                    <md-input-container fxFlexFill>
                        <input mdInput placeholder="Customer" value="test" [(ngModel)]="post?.customer.name" readonly>
                    </md-input-container>

                    <p>({{post.customerId}})</p>
                </div>

                <div fxLayout="row" *ngIf="postSearchType === 2">
                    <md-input-container fxFlexFill>
                        <input mdInput [mdDatepicker]="" placeholder="When" [(ngModel)]="post.date" readonly>
                        <button mdSuffix [mdDatepickerToggle]=""></button>
                    </md-input-container>
                    <md-datepicker #picker readonly></md-datepicker>
                </div>

                <div fxLayout="column">
                    <h5>Hair Types</h5>
                    <md-chip-list>
                        <div *ngFor="let postHairType of post.postHairTypes; let i = index;">
                            <md-chip selected="true" [color]="i % 3 == 0 ? 'primary' : i % 2 == 0 ? 'accent' : 'warn'">
                                {{postHairType.hairType?.name}}
                            </md-chip>
                        </div>
                    </md-chip-list>
                </div>

                <div fxLayout="column" *ngIf="post.isHairTypeMemo || postSearchType === 2">
                    <div fxLayout="column" fxLayoutGap="10px">
                        <div></div>
                        <div></div>
                    </div>
                    <md-input-container fxFlexFill>
                        <textarea mdInput placeholder="HairType Memo" [(ngModel)]="post.hairTypeMemo" readonly></textarea>
                    </md-input-container>
                </div>

                <div fxLayout="column">
                    <h5>Hair Menus</h5>
                    <md-chip-list>
                        <div *ngFor="let postHairMenu of post.postHairMenus; let i = index;">
                            <md-chip selected="true" [color]="i % 3 == 0 ? 'accent' : i % 2 == 0 ? 'warn' : 'primary'">
                                {{postHairMenu?.hairMenu?.name}}
                            </md-chip>
                        </div>
                    </md-chip-list>
                </div>

                <div fxLayout="column" *ngIf="post.postMenuColor">
                    <h4>{{post.postMenuColor.hairSubMenu?.name}}</h4>
                    <md-input-container *ngIf="post?.postMenuColor.isMemo || postSearchType === 2">
                        <textarea mdInput placeholder="Color Formula" [(ngModel)]="post.postMenuColor.memo" readonly></textarea>
                    </md-input-container>
                </div>

                <div fxLayout="column" *ngIf="post?.postMenuPerm">
                    <h4>{{post.postMenuPerm.hairSubMenu?.name}}</h4>
                    <md-input-container *ngIf="post?.postMenuPerm.isMemo || postSearchType === 2">
                        <textarea mdInput placeholder="Perm Memo" [(ngModel)]="post.postMenuPerm.memo" readonly></textarea>
                    </md-input-container>
                </div>

                <div *ngIf="post.isMemo || postSearchType === 2">
                    <div fxLayout="column" fxLayoutGap="30px">
                        <div></div>
                        <div></div>
                    </div>
                    <md-input-container fxFlexFill>
                        <textarea mdInput placeholder="Memo" [(ngModel)]="post.memo" readonly></textarea>
                    </md-input-container>
                </div>

            </md-card-content>

            <md-card-actions>

                <div fxLayout="row" fxLayoutGap.xs="5px" fxLayoutGap="10px">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <div>
                            <md-icon (click)="onSetPostEvalution(post)">{{post?.isEvaluation ? 'favorite' : 'favorite_border'}}</md-icon>
                        </div>
                        <div>
                            {{post?.totalPostEvaluations}}
                        </div>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <div>
                            <md-icon (click)="onGoToCommentBox()">message</md-icon>
                        </div>
                        <div>
                            {{post?.totalPostComments}}
                        </div>
                    </div>
                    <div>
                        <md-icon (click)="onSetPostFavorite(post)">{{post?.isFavorite ? 'bookmark' : 'bookmark_border'}}</md-icon>
                    </div>
                </div>

                <md-list>
                    <h3 md-subheader>Comments</h3>
                    <button *ngIf="post?.totalPostComments !== post?.postComments.length" md-button class="primary" (click)="showMoreComments.emit(post)">Show more comments</button>
                    <md-list-item *ngFor="let postComment of post.postComments">
                        <span md-line><strong>{{postComment.createdUser?.userName}}</strong> &nbsp;&nbsp; {{postComment.comment}}</span>
                        <button *ngIf="postComment.createdUserId === auth.userId" md-button class="warn" (click)="delPostComment.emit(postComment.postCommentId)">x</button>
                    </md-list-item>
                </md-list>
                <div fxLayout="row">
                    <md-input-container fxFlex="80">
                        <input mdInput placeholder="Comment" [(ngModel)]="post.comment" #commentBox>
                    </md-input-container>
                    <button fxFlex="20" md-button class="warn" (click)="onAddPostComment(post)">Add</button>
                </div>
            </md-card-actions>
        </div>
    </md-card>
</div>