.example-header-image {
    background-size: cover;
}

.mat-card {
    padding: 24px 0px;
}

.post-padding {
    padding-left: 16px;
    padding-right: 16px;
}

ngx-gallery /deep/ .ngx-gallery-icon {
    color: #252525;
}