<div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around center">
    <div *ngFor="let post of posts; let postIndex = index;">

        <div fxFlex.xs="120px" fxFlex.sm="200px" fxFlex.md="250px" fxFlex.lg="250px" fxFlex="250px" fxLayout="column" fxLayoutGap.xs="10px" fxLayoutGap="30px">

            <div class="post-wrapper">
                <div class="post-inside" *ngIf="post.postUploads.length > 0; else test" fxLayout="column">
                    <img [src]="post.postUploads[0]?.path | imagePath" fxFlex.xs="120px" fxFlex.sm="200px" fxFlex.md="250px" fxFlex="250px">
                </div>
                <ng-template #test>
                    <div class="post-inside" fxLayout="column">
                        <div fxFlexAlign="center" fxFlex.xs="120px" fxFlex.sm="200px" fxFlex.md="250px" fxFlex="300px">
                            no image
                        </div>
                    </div>
                </ng-template>

                <div class="post-inside post-second">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <md-icon *ngIf="post.postUploads.length === 0; else photo;">check_box_outline_blank</md-icon>

                        <ng-template #photo>
                            <md-icon *ngIf="post.postUploads.length === 1; else multiPhoto;">photo</md-icon>
                        </ng-template>

                        <ng-template #multiPhoto>
                            <md-icon>photo_library</md-icon>
                        </ng-template>
                    </div>
                </div>

                <div class="post-inside post-third" fxFlexFill *ngIf="postSearchType === 2">
                    <div fxFlexFill fxLayout="row" fxLayoutAlign="center end">
                        <div class="post-third-text">{{post.customer.name}}</div>
                    </div>
                </div>

                <div class="post-inside post-front" (click)="onOpenDetail(post)" fxFlexFill>
                    <div class="post-front-text" fxFill fxLayout="row" fxLayoutAlign="center center">
                        <md-icon>favorite</md-icon> {{post.totalPostEvaluations}} &nbsp;
                        <md-icon>chat_bubble</md-icon> {{post.totalPostComments}}
                    </div>
                </div>

            </div>
            <div></div>
        </div>

    </div>
</div>