.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}

.image-galary {
    height: 200px;
}

.no-scroll {
    overflow: hidden;
}

.post-padding {
    padding-left: 16px;
    padding-right: 16px;
}

.avatar-shape {
    background-size: cover;
}

.accessType {
    font-size: 25px;
}