<div *ngIf="post" fxLayout="row" fxLayoutWrap class="no-scroll">

    <div fxLayout="column" fxFlex="60" fxFlex.xs="100" class="no-scroll" fxLayoutAlign="start start">
        <div fxLayout="column" fxLayoutGap="24px">
            <div></div>
            <div></div>
        </div>

        <div class="post-margin" fxLayout="row" fxLayoutAlign="space-between center">
            <md-card-header>
                <div *ngIf="post.createdUser.image" md-card-avatar>
                    <img md-card-avatar [src]="post.createdUser.image | imagePath" (click)="onClickUser(post.createdUser.userName)">
                </div>
                <md-card-title>{{post.createdUser.userName}}</md-card-title>
                <md-card-subtitle>{{post.createdDate | timeAgo}}</md-card-subtitle>
            </md-card-header>

            <div fxLayout="row">
                <button md-button class="primary" *ngIf="post.postUploads.length > 1" (click)="onPrevious(this.post.postId)"><</button>
                <button md-button class="primary" *ngIf="post.postUploads.length > 1" (click)="onNext(this.post.postId)">></button>
            </div>
        </div>
        <div *ngFor="let upload of post?.postUploads; let uploadIndex = index;">
            <div *ngIf="post.currentUploadIndex === uploadIndex" fxFlex.xs="100%" fxFlex="90%" fxLayout="column">
                <img (swipeleft)="onSwipe($event.type)" (swiperight)="onSwipe($event.type)" [src]="upload.path | imagePath" width="100%">
                <h3 class="post-margin">{{uploadCategories[upload.uploadCategoryType + 3]}}</h3>
                <md-input-container class="post-margin">
                    <textarea mdInput placeholder="Upload Memo" [(ngModel)]="upload.memo" readonly></textarea>
                </md-input-container>
            </div>
        </div>
    </div>

    <div class="post-margin" fxLayout="column" fxFlex="40" fxFlex.xs="100">

        <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="(postSearchType$ | async) === 2">
            <md-icon class="accessType">{{post.accessType === 0 ? 'lock_open' : 'lock_outline'}}</md-icon>
            <hb-post-menu (editPost)="editPost()" (deletePost)="deletePost()"></hb-post-menu>
        </div>

        <div fxLayout="row" *ngIf="(postSearchType$ | async) === 2">
            <md-input-container fxFlexFill>
                <input mdInput placeholder="Customer" value="test" [(ngModel)]="post?.customer.name" readonly>
            </md-input-container>

            <p>({{post.customerId}})</p>
        </div>

        <div fxLayout="row" *ngIf="(postSearchType$ | async) === 2">
            <md-input-container fxFlexFill>
                <input mdInput [mdDatepicker]="" placeholder="When" [(ngModel)]="post.date" readonly>
                <button mdSuffix [mdDatepickerToggle]=""></button>
            </md-input-container>
            <md-datepicker #picker readonly></md-datepicker>

            <!-- <md-input-container>
                <input mdInput [mdDatepicker]="picker" placeholder="When" [(ngModel)]="post.date" readonly>
                <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker readonly></md-datepicker> -->
        </div>

        <div fxLayout="column" *ngIf="post?.postHairTypes">
            <h5>Hair Types</h5>
            <md-chip-list>
                <div *ngFor="let postHairType of post?.postHairTypes; let i = index;">
                    <md-chip selected="true" [color]="i % 3 == 0 ? 'accent' : i % 2 == 0 ? 'warn' : 'primary'">
                        {{postHairType.hairType?.name}}
                    </md-chip>
                </div>
            </md-chip-list>
        </div>

        <div fxLayout="column" *ngIf="post.isHairTypeMemo || (postSearchType$ | async) === 2">
            <div fxLayout="column" fxLayoutGap="10px">
                <div></div>
                <div></div>
            </div>
            <md-input-container fxFlexFill>
                <textarea mdInput placeholder="HairType Memo" [(ngModel)]="post.hairTypeMemo" readonly></textarea>
            </md-input-container>
        </div>

        <div fxLayout="column" *ngIf="post?.postHairMenus">
            <h5>Menu Menus</h5>
            <md-chip-list>
                <div *ngFor="let postHairMenu of post?.postHairMenus; let i = index;">
                    <md-chip selected="true" [color]="i % 3 == 0 ? 'primary' : i % 2 == 0 ? 'accent' : 'warn'">
                        {{postHairMenu?.hairMenu?.name}}
                    </md-chip>
                </div>
            </md-chip-list>
        </div>

        <div fxLayout="column" *ngIf="post?.postMenuColor">
            <h4>{{post?.postMenuColor.hairSubMenu?.name}}</h4>
            <md-input-container *ngIf="post?.postMenuColor.isMemo || (postSearchType$ | async) === 2">
                <textarea mdInput placeholder="Color Formula" [(ngModel)]="post?.postMenuColor.memo" readonly></textarea>
            </md-input-container>
        </div>

        <div fxLayout="column" *ngIf="post?.postMenuPerm">
            <h4>{{post?.postMenuPerm.hairSubMenu?.name}}</h4>
            <md-input-container *ngIf="post?.postMenuPerm.isMemo || (postSearchType$ | async) === 2">
                <textarea mdInput placeholder="Perm Memo" [(ngModel)]="post?.postMenuPerm.memo" readonly></textarea>
            </md-input-container>
        </div>

        <div fxLayout="column" *ngIf="post.isMemo || (postSearchType$ | async) === 2">
            <div fxLayout="column" fxLayoutGap="30px">
                <div></div>
                <div></div>
            </div>
            <md-input-container fxFlexFill>
                <textarea mdInput placeholder="Memo" [(ngModel)]="post.memo" readonly></textarea>
            </md-input-container>
        </div>

        <div fxLayout="column">
            <div fxLayout="column" fxLayoutGap="30px">
                <div></div>
                <div></div>
            </div>
            <div fxLayout="row" fxLayoutGap.xs="5px" fxLayoutGap="10px">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <div>
                        <md-icon (click)="onSetPostEvalution(post)">{{post?.isEvaluation ? 'favorite' : 'favorite_border'}}</md-icon>
                    </div>
                    <div>
                        {{post?.totalPostEvaluations}}
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <div>
                        <md-icon (click)="onGoToCommentBox()">message</md-icon>
                    </div>
                    <div>
                        {{post?.totalPostComments}}
                    </div>
                </div>
                <div>
                    <md-icon (click)="onSetPostFavorite(post)">{{post?.isFavorite ? 'bookmark' : 'bookmark_border'}}</md-icon>
                </div>
            </div>

            <md-list>
                <h3 md-subheader>Comments</h3>
                <button *ngIf="post?.totalPostComments !== post?.postComments.length" md-button class="primary" (click)="onShowMoreComments(post)">Show more comments</button>
                <md-list-item *ngFor="let postComment of post?.postComments">
                    <!--<md-icon md-list-icon>folder</md-icon>-->
                    <h4 md-line>{{postComment.createdUser?.name}}</h4>
                    <p md-line> {{postComment.comment}}</p>
                    <button *ngIf="postComment.createdUserId === auth.userId" md-button class="warn" (click)="onDelPostComment(postComment.postCommentId)">x</button>
                </md-list-item>
            </md-list>

            <div fxLayout="row">
                <md-input-container fxFlex="80">
                    <input mdInput placeholder="Comment" [(ngModel)]="comment" #commentBox>
                </md-input-container>
                <button fxFlex="20" md-button class="warn" (click)="onAddPostComment(comment)">Add</button>
            </div>
        </div>
    </div>
</div>