<div *ngIf="post" fxLayout="row" fxLayoutWrap class="no-scroll">

    <div fxLayout="column" fxFlex="60" fxFlex.xs="100" class="no-scroll" fxLayoutAlign="start center">
        <div fxLayput="row">
            <div *ngIf="post.createdUser.image">
                <img md-card-avatar [src]="post.createdUser.image | imagePath" width="50" height="50">
            </div>
            <div>
                {{post.createdUser.userName}}
            </div>
        </div>
        <div *ngFor="let upload of post?.postUploads; let uploadIndex = index;">
            <div *ngIf="post.currentUploadIndex === uploadIndex" fxFlex.xs="100%" fxFlex="90%" fxLayout="column">
                <img (swipeleft)="onSwipe($event.type)" (swiperight)="onSwipe($event.type)" [src]="upload.path | imagePath" width="100%">
                <p>{{uploadCategories[upload.uploadCategoryType + 3]}} - {{upload.memo}}</p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center stretch">
            <button md-button class="primary" *ngIf="post.postUploads.length > 1" (click)="onPrevious(this.post.postId)"><</button>
            <button md-button class="primary" *ngIf="post.postUploads.length > 1" (click)="onNext(this.post.postId)">></button>
        </div>
    </div>

    <div fxLayout="column" fxFlex="40" fxFlex.xs="100">
        <div fxLayout="row" fxLayoutAlign="end center">
            <hb-post-menu (editPost)="editPost()" (deletePost)="deletePost()"></hb-post-menu>
        </div>

        <div fxLayout="row">
            <md-input-container>
                <input mdInput placeholder="Customer" value="test" [(ngModel)]="post?.customer.name" readonly>
            </md-input-container>

            <p>{{post.customerId}}</p>
        </div>

        <div fxLayout="row">
            <md-input-container>
                <input mdInput [mdDatepicker]="" placeholder="When" [(ngModel)]="post.date" readonly>
                <button mdSuffix [mdDatepickerToggle]=""></button>
            </md-input-container>
            <md-datepicker #picker readonly></md-datepicker>

            <!-- <md-input-container>
                <input mdInput [mdDatepicker]="picker" placeholder="When" [(ngModel)]="post.date" readonly>
                <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker readonly></md-datepicker> -->
        </div>

        <div fxLayout="column">
            <md-input-container fxFill>
                <textarea mdInput placeholder="Memo" [(ngModel)]="post.memo" readonly></textarea>
            </md-input-container>
        </div>

        <div fxLayout="column" *ngIf="post?.postHairMenus">
            <h5>Menu </h5>
            <md-chip-list>
                <div *ngFor="let postHairMenu of post?.postHairMenus; let i = index;">
                    <md-chip fxFlex="70px" selected="true" [color]="i == 0 ? 'accent' : i % 2 == 0 ? 'warn' : 'primary'">
                        {{postHairMenu?.hairMenu?.name}}
                    </md-chip>
                </div>
            </md-chip-list>
        </div>

        <div fxLayout="column" *ngIf="post?.postHairTypes">
            <h5>HairType </h5>
            <md-chip-list>
                <div *ngFor="let postHairType of post?.postHairTypes; let i = index;">
                    <md-chip fxFlex="70px" selected="true" [color]="i == 0 ? 'accent' : i % 2 == 0 ? 'warn' : 'primary'">
                        {{postHairType.hairType?.name}}
                    </md-chip>
                </div>
            </md-chip-list>
        </div>

        <div fxLayout="column">
            <md-input-container fxFill>
                <textarea mdInput placeholder="Hair Memo" [(ngModel)]="post.hairTypeMemo" readonly></textarea>
            </md-input-container>
        </div>

        <div fxLayout="column" *ngIf="postMenuColor">
            <h3>Information for color ({{postMenuColor.hairSubMenu?.name}})</h3>
            <md-input-container>
                <textarea mdInput placeholder="Color Memo" [(ngModel)]="postMenuColor.memo" readonly></textarea>
            </md-input-container>
        </div>

        <div fxLayout="column" *ngIf="postMenuPerm">
            <h3>Information for perm ({{postMenuPerm.hairSubMenu?.name}})</h3>
            <md-input-container>
                <textarea mdInput placeholder="Parm Memo" [(ngModel)]="postMenuPerm.memo" readonly></textarea>
            </md-input-container>
        </div>

        <div fxLayout="column">

            <div fxLayout="row">
                <md-icon (click)="onSetPostEvalution()">{{post?.isEvaluation ? 'favorite' : 'favorite_border'}}</md-icon> {{post?.postEvaluations?.length}} &nbsp;
                <md-icon (click)="onGoToCommentBox()">message</md-icon> {{post?.totalPostComments}}
            </div>

            <md-list>
                <h3 md-subheader>Comments</h3>
                <button *ngIf="post?.totalPostComments !== post?.postComments.length" md-button class="primary" (click)="onShowMoreComments(post)">Show more comments</button>
                <md-list-item *ngFor="let postComment of post?.postComments">
                    <!--<md-icon md-list-icon>folder</md-icon>-->
                    <h4 md-line>{{postComment.createdUser?.name}}</h4>
                    <p md-line> {{postComment.comment}}</p>
                    <button *ngIf="postComment.createdUserId === auth.userId" md-button class="warn" (click)="onDelPostComment(postComment.postCommentId)">x</button>
                </md-list-item>
            </md-list>

            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Comment" [(ngModel)]="comment" #commentBox>
                </md-input-container>
                <button md-button class="warn" (click)="onAddPostComment(comment)">Add</button>
            </div>
        </div>
    </div>
</div>